label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 450px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  input {
    height: 30px;
    
    flex: 0 0 200px;
    margin-left: 10px;
  }

  .notify{
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    background-color: black;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
  }